<head>
  <link rel="stylesheet" href="../static/style-for-destination.css">
</head>


<div class = "bg" style="background-image: url('../static/cool-background.jpg');">

  <h1 class="heading" style="text-align:center;">Listination</h1>
<p style="text-align:center;">Never forget a thing.</p>
 

<a href="index-for-hillstations.html">
  <div class="wrap">
  <div class="tile"> 
    <img src='https://cdn.discordapp.com/attachments/839054770919571518/839365559115186186/Mountains.jpg'/>
    <div class="text">
    <h1>Hill Stations</h1>
    <h2 class="animate-text">Beautiful sceneries and cold breeze must make you very happy.</h2>

      <span></span>
      <span></span>
              <span></span>

      <span></span>
    </div>
   </div>
  </a>

  <a href="index-for-beaches.html">
  <div class="tile"> 
    <img src='https://cdn.discordapp.com/attachments/839054770919571518/839365773993443348/Beach.jpg'/>
    <div class="text">
    <h1>Beaches</h1>
    <h2 class="animate-text">Humid atmosphere and moist sand in every crack and crevice must make you very happy.</h2>
      <span></span>
      <span></span>
              <span></span>

      <span></span>
    </div>
    </div>
   </a>

   <a href="index-for-tundras.html">
    <div class="tile"> 
    <img src='https://cdn.discordapp.com/attachments/839054770919571518/839368037962219561/ali-inay-yNaGxHqjOuw-unsplash.jpg'/>
    <div class="text">
    <h1>Tundras</h1>
    <h2 class="animate-text">Big foot and Snow man must be your best friends.</h2>
      <span></span>
      <span></span>
      <span></span>
              <span></span>

    </div>
    </div>
  </a>
    
<a href="index-for-desserts.html">
    <div class="tile"> 
    <img src='https://cdn.discordapp.com/attachments/839054770919571518/839365714057887744/desert.jpg'/>
    <div class="text">
    <h1>Desserts</h1>
    <h2 class="animate-text">Rattle snakes and hot sand in every crack and crevice must make you very happy.</h2>
      <span></span>
      <span></span>
      <span></span>
              <span></span>

    </div>
    </div>
  </a>
  </div>
   </div>


